@model Wardrobe.Models.ClothingItem
<div class="item-view" @Model.GetType().ToString()>
    @Html.Label(@Model.Name)
    <img src="@Model.Picture.ToString()" alt="@Model.GetType().ToString()">
    <br />
</div>